.bg-dark {
  background-color: #12002b;
  margin: 0;
  padding-bottom: 800px;
}

.profile-title {
  color: #fff;
  margin: 0;
  padding: 2rem 0 2rem 0;
}

@media (max-width: 720px) {
  .bg-dark {
    padding-bottom: 1050px;
  }
}